<div class="form-container">
  <h2>Neue Bestellung aufgeben</h2>

  <div class="flex flex-row gap-4">
    <label class="w-24" for="name">Vorname Name:</label>
    <input type="text" id="name" [(ngModel)]="name" placeholder="Max Muster">
  </div>

  <div class="flex flex-row gap-4">
    <label class="w-24" for="wohnhaus">Wohnhaus:</label>
    <input type="text" id="wohnhaus" [(ngModel)]="wohnhaus" placeholder="Wohnhaus 1">
  </div>

  <div class="flex flex-row gap-4">
    <label class="w-24" for="datum">Datum von-bis:</label>
    <input type="date" id="datum" [(ngModel)]="datum">
  </div>

  <div class="flex flex-row gap-4">
    <label class="w-24" for="passwort">Passwort:</label>
    <input type="password" id="passwort" [(ngModel)]="passwort" placeholder="**********">
  </div>

  <button (click)="submitOrder()">Submit</button>

  <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
