<h2>Create Order</h2>

<div>
  <label for="name">Name:</label>
  <input type="text" id="name" [(ngModel)]="name" placeholder="Enter name">
</div>

<div>
  <label for="wohnhaus">Wohnhaus:</label>
  <input type="text" id="wohnhaus" [(ngModel)]="wohnhaus" placeholder="Enter Wohnhaus">
</div>

<div>
  <label for="datum">Datum:</label>
  <input type="text" id="datum" [(ngModel)]="datum" placeholder="Enter Datum">
</div>

<div>
  <label for="passwort">Passwort:</label>
  <input type="password" id="passwort" [(ngModel)]="passwort" placeholder="Enter Passwort">
</div>

<button (click)="createOrder()">Submit</button>
