<div class="weekly-order-container">
  <h2>Bestellungen der Woche: {{ weeklyOrder && weeklyOrder.length > 0 ? weeklyOrder[0].week : '' }}</h2>

  <!-- Loop through each manufacturer -->
  <ng-container *ngFor="let manufacturer of manufacturers">
    <h3>{{ manufacturer }}</h3> <!-- Manufacturer as the section header -->

    <div class="horizontal-table">
      <div class="table-row header-row">
        <div class="table-cell">Produkte</div>
        <div class="table-cell" *ngFor="let wohnhaus of wohnhauses">{{ wohnhaus }}</div>
        <div class="table-cell">Gesamt</div>
      </div>

      <!-- Loop through products for the current manufacturer -->
      <ng-container *ngFor="let product of getProductsByManufacturer(manufacturer)">
        <div class="table-row">
          <div class="table-cell">{{ product.name }} / {{ product.quantityType }}</div>
          <div class="table-cell" *ngFor="let wohnhaus of wohnhauses">
            {{ getOrderAmountForWohnhausProduct(wohnhaus, product.name) }}
          </div>
          <div class="table-cell cost">{{ getOrderAmountForProduct(product) }} {{ product.quantityType }}</div>
        </div>
      </ng-container>

      <div class="table-row">
        <div class="table-cell cost">Total Kosten</div>
        <div class="table-cell" *ngFor="let wohnhaus of wohnhauses">
          <span class="cost">{{ getTotalCostForManufacturerAndWohnhaus(manufacturer, wohnhaus) }} CHF</span>
        </div>
        <div class="table-cell cost">{{ getTotalCostForManufacturer(manufacturer) }} CHF</div> <!-- Manufacturer total cost -->
      </div>
    </div>
  </ng-container>

  <!-- Display grand total for all products -->
  <div class="total-kosten">
    <h3>Gesamtkosten</h3>
    <p>Total für alle Produkte: <span class="total-kosten-price">{{ getTotalCostForAllProducts() }} CHF</span></p>
  </div>
</div>
