<!-- <div class="page-heading">
    Bestellung der Woche: {{ weeklyOrder.week }}
  </div>
  
  <table class="orders-table">
    <thead>
      <tr>
        <th>Produkte</th>
        <ng-container *ngFor="let wohnhausOrder of weeklyOrder.orders">
          <th>{{ wohnhausOrder.wohnhaus }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let product of getProductList()">
        <tr>
          <td>{{ product }}</td>
          <ng-container *ngFor="let wohnhausOrder of weeklyOrder.orders">
            <td>{{ getAmountForWohnhaus(product, wohnhausOrder.wohnhausId) }}</td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
   -->