<div class="weekly-order-container">
  <h2>Weekly Order: {{ weeklyOrder[0].week }}</h2>

  <div class="order-details">
    <div class="order-info">
      <h3>{{ weeklyOrder[0].name }}</h3>
      <p>Wohnhaus: {{ weeklyOrder[0].wohnhaus }}</p>
      <p>Datum: {{ weeklyOrder[0].datum }}</p>
    </div>

    <div class="order-products">
      <h3>Products:</h3>
      <ul>
        <li *ngFor="let product of weeklyOrder[0]?.products">
          {{ product.product.name }} - {{ product.orderAmount }}
        </li>
      </ul>
    </div>
  </div>
</div>
