<div class="weekly-order-container">
  <h2>Bestellungen der Woche: {{ weeklyOrder && weeklyOrder.length > 0 ? weeklyOrder[0].week : '' }}</h2>

  <table>
    <thead>
      <tr>
        <th>Produkte</th>
        <th *ngFor="let wohnhaus of getUniqueWohnhauses()">{{ wohnhaus }}</th>
        <th>Kosten</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let product of productList">
        <tr>
          <td>{{ product.name }} / {{ product.quantityType }}</td>
          <td *ngFor="let wohnhaus of getUniqueWohnhauses()">
            {{ getOrderAmountForWohnhausProduct(wohnhaus, product.name) }}
          </td>
          <td class="cost">{{ getOrderCostForProduct(product) }} CHF</td>
        </tr>
      </ng-container>
      <tr>
        <td class="cost">Total Kosten</td>
        <td *ngFor="let wohnhaus of getUniqueWohnhauses()">
          <span class="cost">{{ getTotalCostForWohnhaus(wohnhaus) }} CHF</span>
        </td>
        <td class="cost">{{ getTotalCostForAllProducts() }} CHF</td>
      </tr>
    </tbody>
  </table>
</div>
